# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.env/
.venv/

# =========================
# DATA (IMPORTANTISSIMO)
# =========================
data/raw/
data/processed/
data/splits/

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# LOGS & OUTPUTS
# =========================
logs/
outputs/
checkpoints/
*.log

# =========================
# HPC / JOB FILES
# =========================
*.out
*.err
slurm-*.out

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE (VSCode)
# =========================
.vscode/

# =========================
# CACHE / TEMP
# =========================
.cache/
tmp/
temp/